<%- include($layouts + '_page-header'); _%>
<%= $timestamp; %>
<%- include($partials + '_header'); %>
<h1>
  Welcome child page
</h1>
<p>
  <a href="/">Root page</a>
</p>

<%- include($layouts + '_page-footer'); _%>
