<% var meta = {
  title: 'Child page title',
  desc: 'Child page description',
  ogp: true,
  ogUrl: $data.site_url + '/child',
  ogTitle: 'Child page og title',
  ogDesc: 'Child page og description',
  ogImage: $data.site_url + '/img/ogp.png',
  ogType: 'article',
}; _%>
<%- include($layouts + '_page-header', { pageMeta: meta }); _%>
<%- include($partials + '_header'); _%>
<h1>
  Welcome child page
</h1>
<p>
  <a href="/">Root page</a>
</p>

<%- include($layouts + '_page-footer'); _%>
