html {
  min-width: 320px;
}

body {
  margin-top: 80vh;
  margin-bottom: 50vh;
  color: $text-color;
  font-weight: 400;
  font-size: 16px;
  font-family: $base-font-family;
  line-height: 1.4;
  background: $bg-color;
  pointer-events: auto;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $link-color;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  user-select: none;
  -webkit-user-drag: none;
}

small {
  font-size: 100%;
}

input,
select,
button,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-family: $base-font-family;
  font-feature-settings: 'palt' 1;
}

textarea {
  height: 8em;
  overflow: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.4;
  font-feature-settings: 'palt' 1;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

li {
  font-size: 16px;
}

p {
  font-size: 16px;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

.inview {
  position: relative;
  display: inline-flex;
  color: transparent;

  &::after {
    position: absolute;
    top: 0px;
    right: 100%;
    bottom: 0px;
    left: 0%;
    z-index: 1;
    background-color: black;
    content: '';
  }

  &[data-inviewed] {
    visibility: visible;
    animation: block-reveal-text 1.5s forwards;
    &::after {
      animation: block-reveal-background 1.5s $easeInOutQuad;
    }
  }

  @keyframes block-reveal-background {
    0% {
      right: 100%;
      left: 0%;
    }
    50% {
      right: 0%;
      left: 0%;
    }
    100% {
      right: 0%;
      left: 100%;
    }
  }
  @keyframes block-reveal-text {
    0%,
    50% {
      color: transparent;
    }
    50.00001%,
    100% {
      color: black;
    }
  }
}
