<% var meta = {
  title: 'Top page title',
  desc: 'Top page description',
  ogp: true,
  ogUrl: $data.site_url,
  ogImage: $data.site_url + '/img/ogp.png',
}; _%>
<%- include($layouts + '_page-header', { pageMeta: meta }); _%>
<%- include($partials + '_header'); _%>

<h1 class="inview">
  <span>Welcome Root page</span>
</h1>
<p>
Link: <a href="/child">Child page</a>
</p>
<p>
Link: <a href="/child">Child page Child pageChild pageChild pageChild pageChild pageChild page</a>
</p>
<p>
  <span class="inview">
    長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章長い文章
  </span>
</p>
<p>
  <span class="inview">
    <img src="https://picsum.photos/id/1011/400/300" alt="" width="400" height="300">
  </span>
</p>
<p>
  <span class="inview">
    Link: <a href="/child">Child page</a>
  </span>
</p>

<%- include($layouts + '_page-footer'); _%>
