<%- include($layouts + '_page-header'); _%>

<%= $timestamp; %>
<%- include($partials + '_header'); %>
<h1>
  Welcome Root page
</h1>
<p>
  <a href="/child">Child page</a>
</p>

<%- include($layouts + '_page-footer'); _%>
