.block {
  display: grid;
  grid-template-columns: 200px 1fr;

  @media screen and (max-width: 680px) {
    display: flex;
  }

  .foo1 {
    flex: 1;
    flex-wrap: wrap;
  }

  .foo {
    width: calc(100% / 8);
  }

  .bar {
    flex: 1 1;
  }

  .foz {
    flex: 1 1 0;
  }
}
